body {
  background-color: rgb(250,250,250); 
}

hr {
  height: 1px;
  color: #cccccc;
  background: #dddddd;
  font-size: 0;
  border: 0;
}

h3 {padding-top:0;margin-top:0;}

.page-header {
  border-bottom: 1px solid #dddddd;
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}

.container-meta {
  margin: 0 auto;
  max-width: 100px;
  background: #eee;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
a.brand-image {
  padding: 4px 0px 0px 0px;
}
img.brand-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
  
.blog-index {
  font-size: 14px;
}

.post-footer {
/*   background: white; */
  border: 1px solid #B3B3B3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
  color: #333;
  margin: 40px 0 0;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  text-decoration: none;
  
}

.mini-social-hr {
  margin: 5px 0;
  
}

.mini-social-section {
  float: left;
  width: 80px;
  height:23px;
  padding: 5px 6px 5px;
  text-align: center;
}

.follow-twitter{
  float: right;
  width: 120px;
  height:23px;
  padding: 5px 6px 5px;
  text-align: right;
  overflow: hidden;
}

.hn {
  width: 30px;
  padding: 4px 3px 6px;
}

.reddit {
  padding-left: 3px;
}

.social-header {
  padding: 0 20px;
}

.social-section {
  border-right: 1px dotted #ccc;
  float: left;
  width: 140px;
  height:35px;
  padding: 10px 30px 6px;
  text-align: center;
}

.last {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.social {
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  float: left;
  margin: 0;
  width: 800px;
}

.clearfix {
  zoom: 1;
}

.intro {
  float: left;
  width: 800px;
}

/*
 * image at right of text
 */
.intro-txt {
  float: left;
  width: 530px;
  margin-right: 12px;
}

.intro-img-border {
  float: left;
  border-color: #cccccc; 
  border-style: solid; 
  border-width: 1px; 
}
  
.intro-img {
  float: left;
  width: 250px;
}

.intro-txt-index {
  float: left;
  width: 655px;
  margin-right: 12px;
}
.intro-img-index-box {
  float: left;
  width: 125px;
}

.intro-img-index {
  width:125px;
  height: auto;
}
  
.intro-img-bevel {
  float: left;
  border-color: #ffffff; 
  border-style: solid; 
  border-width: 3px; 
}

a.notes {
  color:#FF4500;
}


/*
 * image at left of text
 */
.intro-txt-right-of-img {
  float: left;
  width: 530px;
  margin-left: 12px;
}

.plain-border {
  border-color: #cccccc; 
  border-style: solid; 
  border-width: 1px; 
}

.plain-bevel {
  border-color: #ffffff; 
  border-style: solid; 
  border-width: 3px;
  width: auto;
}

.article-image {
  display:block;
  margin:auto; 
}