<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="author" content="{{ site.author.name }}"/>
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}" />
    {% endif %}
    {% if site.author.google_plus %}
      <link rel="author" href="{{ site.author.google_plus }}?rel=author" />
      <link rel="publisher" href="{{ site.author.google_plus }}" />
    {% endif %}
    
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/code_highlight_github.css" rel="stylesheet" type="text/css" media="all">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <style type="text/css">
      #mc_embed_signup{clear:both; background:#e0e0ff; border: 0 none; border-radius:4px; box-shadow: 0px 0px 4px rgba(0,0,0,0.5);}
      #mc_embed_signup input.email {display:inline; margin:0 1% 10px 0;}
      #mc_embed_signup input.button {display:inline; background-color: #5fc647;}
      #mc_embed_signup .button:hover {background-color: #6fdc47;}
      #mc_embed_signup .button {height: 38px; line-height: 38px;}
      #mc_embed_signup form {padding:10px;}
      #mc_embed_signup label {font-size:1.4em;}
    </style>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}"><h3 class="brand-title">{{ site.title }}</h3></a>
          <ul class="nav">
            {% assign pages_list = site.pages | sort:"name" %}
	    {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div><a class="brand-image" href="{{ HOME_PATH }}"><img class="brand-image" alt="A photograph of a road and rail line Between Hapuku and Mangamaunu, South Island, New Zealand" title="A website about the software business featuring programming rants, engineering tales, developer posturing, coding guides and articles by Ben Howell" src="{{ASSET_PATH}}/bootstrap/img/logo_800x190.png"/></a></div>

    <div class="container-narrow">
      <div class="content">
        {{ content }}
      <hr>
      <footer>
        <p>&copy; {{ site.author.name }} 2014 - {{ site.time | date: '%Y' }} </p>
      </footer>


    </div>
    

    {% include JB/analytics %}
    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    
	

  </body>
</html>
