<div class="page-header">
  <h1><strong><span itemprop="name">{{ page.title }}</span></strong></h1>
  <hr class="mini-social-hr">
  <div>
    <div class="clearfix">
      <div class="mini-social-section">
<!-- 	<a href="https://twitter.com/share" class="twitter-share-button" data-size="medium" data-via="bjhowell" title="Tweet this">Tweet</a> -->
	
 	<a class="twitter-icon icon" title="Tweet this"> 
	<!--<img src="{{ASSET_PATH}}/bootstrap/img/twitter.png" />-->
 	</a> 
	
      </div>
      
      <div class="mini-social-section">
<!-- 	<div class="g-plusone" data-size="medium" data-href="http://www.benhowell.net{{ page.url }}"></div> -->
	<a class=".google-icon icon" title="Share this"> 
      </div>

      <div class="mini-social-section linkedin">
	<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
	<script type="IN/Share" data-counter="right"></script>
      </div>

      <div class="mini-social-section follow">
	<a href="https://twitter.com/bjhowell" class="twitter-follow-button" data-show-count="false">Follow @bjhowell</a>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid post-full" itemscope itemtype="http://schema.org/Article">
  <div class="span12">
    <div itemtype="http://schema.org/Article" itemprop="articleBody" class="content">
      {{ content }}
    </div>

    <br/>
    <br/>
    {% if page.reddit_url and page.hn_url %}
    <div class="bold-link">
      Join the discussion on <a href="{{ page.reddit_url }}">reddit</a> and <a href="{{ page.reddit_url }}">Hacker News</a>
    </div>
    {% elsif page.reddit_url %}
      <div class="bold-link">
	Join the discussion on <a href="{{ page.reddit_url }}">reddit</a>
      </div>
    {% elsif page.hn_url %}
      <div class="bold-link">
	Join the discussion on <a href="{{ page.hn_url }}">Hacker News</a>
      </div>
    {% endif %}
    
    <div class="date">
      <span itemscope itemtype="http://schema.org/Article" class="faded article-date">Published by 
	<span itemprop="author" itemscope itemtype="http://schema.org/Person">
	  <span itemprop="name">Ben Howell</span>
	</span>: 
	<span itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</span>
      </span>
    </div>
    <br/>
    
    {% if page.related.size != 0 %}
    <hr>
    <p>
    <h4>Related Articles</h4>
      {% for related_title in page.related %}
	{% for post in site.posts %}
	  {% if post.title == related_title %}
	    <div><a href="{{ post.url }}">{{ post.title }}</a></div>
	  {% endif %}
	{% endfor %}
      {% endfor %}
    {% endif %}
    </p>
    <hr>
    <br/>
    
    <div id="subscribe" class="email-subscribe">
      <div id="mc_embed_signup">
      <form action="//benhowell.us8.list-manage.com/subscribe/post?u=ed9d0aad290932f3247232674&amp;id=9a4a99960d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	      <label for="mce-EMAIL">Get new articles delivered to your inbox</label>
	      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	  <input style="display:none;" type="text" name="b_ed9d0aad290932f3247232674_9a4a99960d" tabindex="-1" value="">
	  <input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
      </div>
    </div>
    
    <script type="text/javascript">
      window.___gcfg = {lang: 'en-GB'};

      (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/platform.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    {% include JB/comments %}
  </div>
</div>
